.flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5em !important;
}

img {
    max-height: 600px;
}

#preview {
    max-width: 500px;
    max-height: 500px;
    display: none;
}

.small-text{
    font-size: 0.8em;
    color: gray;
}

.big-text{
    font-size: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.responsive-column {
    flex: 49%;
    max-width: 49%;
    padding: 0 4px;
    margin-right: 1em;
}

.responsive-column~.responsive-column {
    margin-right: 0;
}

.card {
    margin-bottom: 1.5em;
}

.z-depth-1 {
    margin-top: 3em;
    padding: 2em;
}

.p-right {
    padding-right: 3em;
}

.m-top {
    margin-top: 3em;
}

.m-bot {
    margin-bottom: 2em;
}

.quantity {
    font-size: 1.3em;
}

.price {
    font-size: 1.7em;
}

@media screen and (max-width: 1200px) {
    .responsive-column {
        flex: 100%;
        max-width: 100%;
    }
}