body {
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    margin-top: 0;
    font-family: 'Helvetica';
}

.title {
    text-align: center;
    margin-bottom: 0.25em;
}

.career {
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.45em;
}

.generation {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5em;
}

hr {
    margin-top: 0;
}


a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

.img-1 {
    width: 33%;
    padding-left: 0;
    margin-left: 0;
}

.img-1:hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-1:not(:hover) {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-2 {
    width: 49.70%;
}

.img-2:hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-2:not(:hover) {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-3 {
    width: 33%;
    padding-left: 0;
    margin-left: 0;
}

.img-3:hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-3:not(:hover) {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-4 {
    width: 29.5%;
}

.img-4:hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-4:not(:hover) {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-5 {
    width: 69.93%;
}

.img-5:hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-5:not(:hover) {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-6 {
    width: 39.35%;
    margin-right: 0.25em;
}

.img-6:hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-6:not(:hover) {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-7 {
    width: 29.5%;
}

.img-7:hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-7:not(:hover) {
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}