
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input { 
    font-family: 'Open Sans', sans-serif;  outline: 0;
    background: #f2f2f2;
    width: 100%;  
    border: solid 2px #c9c9c9;
    transition: border 0.3s;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }


  .green.press {
    text-shadow: none;
    color: white;
    border: 2px solid #4cad51; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #51c255), color-stop(1, #43a048));
    background: -moz-linear-gradient(top, #51c255 5%, #43a048 100%);
    background: -webkit-linear-gradient(top, #51c255 5%, #43a048 100%);
    background: -o-linear-gradient(top, #51c255 5%, #43a048 100%);
    background: -ms-linear-gradient(top, #51c255 5%, #43a048 100%);
    background: linear-gradient(to bottom, #51c255 5%, #43a048 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#51c255', endColorstr='#43a048', GradientType=0);
    background-color: #51c255;
  }
  

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }


  body {
    background-image: url("http://www.imogap.org/graphics/bg_sand.png");  
    font-family: 'Open Sans', sans-serif;
  }

  